a {
	text-decoration: none;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5%;
	/* line-height: 24px; */
	color: #2c2c2c;
	background-color: #ffffff;
}
html {
	scroll-behavior: smooth;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 944px;
	padding: 16px;
	background: #ffffff;
	margin: auto;
}

.logo__link {
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.67;

	letter-spacing: 0.5px;

	color: #f07f2e;
	text-decoration: none;
}

.logo__img {
	width: 24px;
	height: 24px;
}

.nav__list {
	display: flex;
	gap: 40px;
	align-items: center;
}

.nav__link {
	color: currentColor;
	font-weight: 700;
}

.nav__link:hover {
	color: #f07f2e;
}
.hero {
	position: relative;
	margin: auto;
	margin-top: 45px;
	width: 944px;
	height: 480px;
	border-radius: 16px;
	background-image: url("./img/picture\ 1.jpg");
	background-size: cover;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	background-position: center;
}

.hero__text {
	position: absolute;
	left: 28px;
	bottom: 52px;
	width: 432;
	padding: 24px;
	border-radius: 16px;
	background-color: #0f3f3c;
	color: #ffffff;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.hero__title {
	font-size: 32px;
	letter-spacing: 1.25%;
	line-height: 32px;
}

.hero__info {
	width: 384px;
}

.gallery {
	width: 944px;
	margin: auto;
	margin-top: 45px;
}

.gallery__title {
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5%;
	line-height: 40px;
}

.gallery__list {
	display: flex;
	gap: 40px;
}

.gallery__item {
	width: 288px;
	border-radius: 16px;
	overflow: hidden;

	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.gallery__item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__itemContent {
	padding-left: 16px;
	padding-top: 16px;
	padding-right: 8px;
	padding-bottom: 16px;
}

.gallery__itemName {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.5%;
	line-height: 24px;
}

.final {
	width: 944px;
	margin: auto;
	margin-top: 45px;
}

.final__list {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 40px;
}

.final__title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5%;
	line-height: 40px;
}

.final__listItem {
	width: 144px;
	height: 184px;
	border-radius: 16px;
	overflow: hidden;

	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.final__listItem:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	scale: 1.03;
}

.footer {
	background-color: #0f3f3c;
}

.footer__contaner {
	width: 944px;
	height: 176px;
	margin: auto;
	margin-top: 45px;

	display: flex;
	justify-content: baseline;
	align-items: center;
}

.footer__logo {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer__text {
	color: #ffffff;
	margin-right: 8px;
}

.footer__social {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: end;
	margin-left: auto;
}

.footer__socialList {
	display: flex;
	gap: 16px;
}

.footer__socialItem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.footer__socialItem:hover {
	background-color: #ffffff;
	stroke: #f07f2e;
}

.footer__socialIcon:hover {
	fill: #f07f2e;
}

.footer__socialIcon {
	width: 16px;
	height: 16px;
	fill: #ffffff;
}
